@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.navbar-brand {
    font-family: "Roboto", sans-serif !important;
    font-weight: 500;
}
.nav-link {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400;
}

.btn-login {
    font-family: "Roboto", sans-serif !important;
}

.dropdown-menu[data-bs-popper] {
    top: 100% !important;
    left: -45px !important;
    margin-top: 0.125rem !important;
}
